<html>
<head>
    <link rel="stylesheet" href="css/events.css" />
    <title>Events - Campus Assistant</title>
</head>
<body>
    <div id="content">
        <div id="title-bar">
            <h1>Events</h1>
        </div>
        <div id="sort-options">
            <a class="sort-button" href="#">Top</a>
            <a class="sort-button" href="#">Soon</a>
            <a class="sort-button" href="#">Distance</a>
        </div>
        <div id="list-container">
        	#foreach($event in $events)
	            <div class="list-item">
	                <span>$event</span>
	            </div>
	        #end
        </div>
    </div>
</body>
