<html>
<head>
    <link rel="stylesheet" href="../public/css/homepage.css" />
    <title>Campus Assistant</title>
</head>
<body>
    <div id="content">
        <div id="title-bar">
            <h1>Campus Assistant</h1>
        </div>
        <hr class="explore" />
        <div id="homepage-buttons">
            <div class="button-row">
                <a class="homepage-button" href="food_entertainment.html">Food &amp; Entertainment</a>
                <a class="homepage-button" href="events.html">Events</a>
            </div>
            <div class="button-row">
                <a class="homepage-button" href="study_spaces.html">Study Spaces</a>
                <a class="homepage-button" href="campus_buildings.html">Campus Buildings</a>
            </div>
        </div>
        <br /><br />
        <hr class="questions" />
        <div id="homepage-questions">
            <form id="question-form">
                <input type="text" placeholder="Enter a question" class="question-entry" />
                <input type="submit" class="question-search" />
            </form>
            <a class="browse-previous" href="#">Browse previously asked</a>
        </div>
    </div>
</body>
