$primary1: #333333;   // dark background, borders, dark text
$secondary1: #999999; // light text
$primary2: #CCCCFF;   // button background
$secondary2: #9999FF; // button highlight

html, body {
    background: #CCCCCC;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
}

h1 {
    font-size: 250%;
    text-align: center;
    color: $primary1;
}

#content {
    background: #FFFFFF;
    width: 600px;
    height: 100%;
    margin: 0px auto;
    border-left: 2px solid $primary1;
    border-right: 2px solid $primary1;
}

@media only screen and (max-width: 1000px) {
    #content {
        width: 100%;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin button($text-color, $bg-color, $bg-hover-color, $border-color, $border-radius) {
    @include border-radius($border-radius);

    color: $text-color;
    text-decoration: none;
    text-align: center;

    background: $bg-color;
    border: $border-color 1px solid;

    &:hover {
        background: $bg-hover-color;
    }
}
