@import 'base';

#content h1 {
    text-align: center;
}

hr {
    border-width: 0px;
    border-top: 2px solid #999999;
    text-align: center;
    height: 0px;
    margin-bottom: 10px;
    
    &:after {
        display: inline-block;
        position: relative;
        top: -10px;
        font-size: 120%;
        background: #FFFFFF;
        color: #333333;
        padding: 0px 10px;
    }
}

hr.explore:after {
    content: 'Explore';
}

hr.questions:after {
    content: 'Ask a question';
}

#homepage-buttons {
    width: 85%;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    #homepage-buttons {
        width: 100%;
    }
}

.button-row {
    width: 100%;
    display: flex;
}

.homepage-button {
    @extend .button;
    @include border-radius(3px);

    margin: 10px;
    padding: 30px 10px;

    font-size: 120%;

    flex-basis: 100%;
}

#homepage-questions {
    width: 85%;
    margin: auto;
}

#question-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question-entry {
    flex: 1;
    margin: 10px 0px 10px 10px;
    padding: 5px;
}

.question-search {
    @extend .button;
    @include border-radius(0px);
    padding: 5px;
    margin: 10px 10px 10px 0px;
}

.browse-previous {
    @extend .button;
    padding: 5px;
    margin: 0px 10px 10px 10px;
}
